button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 16px;
}
button:hover{
    background-color: rgba(18, 18, 222, 0.763);
}
button:active{
    display: none;
}
button:focus{
    outline: 3px solid red;
}
